/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 25px;
}

.score-board {
    margin-bottom: 20px;
    font-size: 20px;
}

.score-board p {
    padding: 5px;
}
.player {
    display: flex;
    justify-content: center;

}
.choice {
    font-size: 4em;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 15px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.choice:active {
    transform: scale(0.9);
}

.choice:hover {
    background-color: #e5e5e5ef;
    transform: scale(1.1);
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.15);
    transform: scale(1.2);
    border-radius: 15px;
}

.results {
    margin-top: 30px;
}

.results p {
    font-size: 20px;
    padding: 10px;
}

.reset-btn {
    font-size: 2em;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    border-radius: 15px;
}
.reset-btn:hover {
    background-color: #e0e0e0;
    transform: scale(1.2);
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.15);
}

/* Media quiries for smaller devices */

@media (max-width: 600px) {
    .choice {
        font-size: 2em;
        width: 80px;
        height: 80px;
    }

    .reset-btn {
        font-size: 0.8em;
        padding: 8px 16px;
    }
}
